.headerImg{
	background-image: url(https://blog.thumbtack.com/wp-content/uploads/2016/11/iStock-613754552.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: overlay;
	height: 650px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.moto
{
	color: #ffc145;
	font-size: 125px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
}

.service{
	/*background-color: #f2f3f4;*/
	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 70px;

}
.navbar-brand span
{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #ffc145;
}

.navbar-nav > li
{
	font-size: 18px;
	margin-top: -1.25%;
	margin-right: 6%;
}

.single-service{
	text-align: left;
	padding: 40px;
	margin-bottom: 30px; 
	box-shadow: 0px 0px 20px #f1f1f1;
}

.single-service i{
	font-size: 40px;
	color: gold;
	margin-bottom: 10px;
}

.single-service h3{
	font-size: 24px;
	font-weight: 700; 
	margin-bottom: 10px;

}

.single-service p{
	font-size: 16px;
	font-weight: 400;
	color: #777;
}

.single-service:hover{
	box-shadow: 0px 30px 50px 0px rgba(0,0,29,0.1);
	transform: translateY(-5px);
}